body {
	background-color: #2C365E;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	padding-top: 100px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lustria', serif;
}
a {
	color: #FF5A5F;
	text-decoration: none;
}

.title {
	font-size: 64px;
	font-weight: normal;
	text-align: center;
}
.coming-soon {
	font-size: 24px;
	text-align: center;
}
.btn-container {
	text-align: center;
	margin: 48px 0;
}
.btn {
	display: inline-block;
	color: #FFF;
	background-color: #FF5A5F;
	padding: 16px 24px;
	border-radius: 4px;
}